<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
  <div class="container">
    <!-- <div class="returning_customer">
        <div class="check_title">
          <h2>
            Returning Customer?
            <a href="#">Click here to login</a>
          </h2>
        </div>
        <p>
          If you have shopped with us before, please enter your details in the
          boxes below. If you are a new customer, please proceed to the
          Billing & Shipping section.
        </p>
        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
          <div class="col-md-6 form-group p_star">
            <input type="text" class="form-control" id="name" name="name" value=" " />
            <span class="placeholder" data-placeholder="Username or Email"></span>
          </div>
          <div class="col-md-6 form-group p_star">
            <input type="password" class="form-control" id="password" name="password" value="" />
            <span class="placeholder" data-placeholder="Password"></span>
          </div>
          <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="btn_3">
              log in
            </button>
            <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Remember me</label>
            </div>
            <a class="lost_pass" href="#">Lost your password?</a>
          </div>
        </form>
      </div> -->
    <!-- <div class="cupon_area">
        <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div>
        <input type="text" placeholder="Enter coupon code" />
        <a class="tp_btn" href="#">Apply Coupon</a>
      </div> -->
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-4" style="background:wheat; margin: auto;padding: 20px 50px 10px 50px;">
          <h3 style="text-align: center;">Đăng kí</h3>
          <div class="row contact_form">
            <div class="col-md-12 form-group p_star">
              <p>Tài khoản
                <span *ngIf="user.username.length == 0" style="color: red;">*</span>
              </p>
              <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Username">
            </div>
            <div class="col-md-12 form-group p_star">
              <p>Mật khẩu:
                <span *ngIf="user.password.length == 0" style="color: red;">*</span>
              </p>
              <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password">
            </div>
            <div class="col-md-12 form-group p_star">
              <p>Xác nhận mật khẩu:
                <span *ngIf="re_enterPassword.length == 0" style="color: red;">*</span>
                <span *ngIf="!isRe_enterPassword" style="color: red;">Mật khẩu không khớp!</span>
              </p>
              <input type="password" [(ngModel)]="re_enterPassword" class="form-control" placeholder="Re-enter password">
            </div>
            <div class="col-md-6 form-group p_star">
              <p>Ho tên:
                <span *ngIf="customer.TenKH.length == 0" style="color: red;">*</span>
              </p>
              <input type="text" [(ngModel)]="customer.TenKH" class="form-control" placeholder="Họ tên">
            </div>
            <div class="col-md-6 form-group p_star">
              <p>Địa chỉ:
                <span *ngIf="customer.DiaChi.length == 0" style="color: red;">*</span>
              </p>
              <input type="text" [(ngModel)]="customer.DiaChi" class="form-control" placeholder="Địa chỉ">
            </div>
            <div class="col-md-12 form-group p_star">
              <p>Số điện thoại:
                <span *ngIf="customer.DiaChi.length == 0 && !isTouched" style="color: red;">*</span>              
                <span *ngIf="customer.SDT?.['length'] > 0 && customer.SDT?.['length'] < 10 && isTouched && isValid"
                  style="color: red; font-weight: 300;">
                  Vui lòng nhập 10 kí tự!</span>
              </p>
              <input type="text" id="numberInput" (input)="validateNumber()" [(ngModel)]="customer.SDT" pattern="[0-9]*" maxlength="10" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="col-md-12 form-group p_star">
              <p>Email:
                <span *ngIf="customer.Email.length == 0" style="color: red;">*</span>
              </p>
              <input type="text" [(ngModel)]="customer.Email" class="form-control" placeholder="Email">
            </div>

            <a (click)="register()" class="btn_1" style="text-align: center;">Tạo tài khoản</a>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- <div class="custom-select1">
    <select id="city">
      <option value="" selected>Chọn tỉnh thành</option>
    </select>
  </div>
  <div class="custom-select1">
    <select id="district">
      <option value="" selected>Chọn quận huyện</option>
    </select>
  </div>
  <div class="custom-select1">
    <select id="ward">
      <option value="" selected>Chọn phường xã</option>
    </select>
  </div> -->
</section>
<!--================End Checkout Area =================-->