<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a routerLink="/admin/company/create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <select class="form-control" [(ngModel)]="items" style="width: 75px;">
                        <option style="border: 1px solid black;" value="5">5</option>
                        <option style="border: 1px solid black;" value="10">10</option>
                        <option style="border: 1px solid black;" value="20">20</option>
                        <option style="border: 1px solid black;" value="50">50</option>
                        <option style="border: 1px solid black;" value="100">100</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" style="float: right; width: 300px;" class="form-control" placeholder="Search for..."
                        [(ngModel)]="searchTerm" (keyup)="search()" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã hãng</th>
                            <th>Tên hãng</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th style="width: 20%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of filteredItems | paginate: {itemsPerPage: items, currentPage: p}">
                            <td>{{data.idhang}}</td>
                            <td>{{data.tenhang}}</td>
                            <td>{{data.diachi}}</td>
                            <td>{{data.sdt}}</td>
                            <td class="text-center">
                                <a [routerLink]="['/admin/company/update', data.idhang]"  class="btn btn-info" style="margin-right: 10px;"><i class="fa fa-pen-square"></i></a>
                                <a href="#" (click)="sukien($event,data.idhang)" class="btn btn-danger" ><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="pagination">
                <ul>
                    <li>
                        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" [maxSize]="7"
                        screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

